.navbar-brand{
    margin: right;
    padding-left: 1%;
}

.jumbotron{
    background-image: url("images/watch-bg.png");
    background-size: cover;
  }

.lead{
  color:aliceblue;
}

.display-3{
  color:aliceblue;
}

.body{
  background: #323232;
  background-image: url("images/watch-bg3.png");
  background-size: cover;
}

.wrap{
  width: 400px;
  margin: auto;
  background:#00adee;
  margin-top: 50px;
  padding: 5px;
}
form{
  padding:10px;
  font-family: arial;
  border:1px dotted white;
  margin:10px;
}
h2{ 
  text-align: center;
  background: orange;
  color:white;
  padding: 10px;
  border-radius: 10px;
}
input{
  padding:10px;
  margin:10px;
  border-radius:5px;
  border:none;
}



body {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #008CBA;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
